# Disable updates since Atuin is an Arch Linux package.
update_check = false

# Faster default sync frequency.
sync_frequency = "10s"

# Stop Atuin from immediately executing the command.
enter_accept = false

[theme]
# Set theme.
name = "catppuccin-mocha-mauve"

{{ if env "ATUIN_SYNC_ADDRESS" -}}
# Use private Atuin server.
sync_address = {{ env "ATUIN_SYNC_ADDRESS" | quote }}
{{ end -}}

[sync]
# Enable sync v2.
records = true

[daemon]
# Enable the background daemon.
# The daemon is installed as the atuin.service user unit.
enabled = true
