---
sourceDir: {{ .chezmoi.homeDir }}/config/dotfiles

data:
  fullName: Evan Sosenko
  emailAddress: razorx@evansosenko.com
  gpgKeyId: 757C899CECF66FE0
  theme: dark
  themes:
    # When a theme omits a key, the value from the default theme will be used as a fallback.
    default:
      fish: ayu Mirage
      kitty: Ayu
      eza: catppuccin
      gitui: catppuccin-frappe
    dark:
      kitty: Ayu
      fish: ayu Mirage
