---
sourceDir: {{ joinPath .chezmoi.homeDir "config" "dotfiles" }}

data:
  fonts:
    kitty: FiraCode Nerd Font
  catppuccin:
    default:
      darkFlavor: macchiato
      lightFlavor: latte
      accent: sky
  theme: catppuccin
  themes:
    # When a theme omits a key,
    # the value from the default theme will be used as a fallback.
    default:
      atuin: catppuccin
      bat: catppuccin
      delta: arctic-fox
      eza: catppuccin
      fish: ayu Mirage
      gitui: catppuccin
      kitty: Ayu
      mise: charm
      opencode: system
      yazi: catppuccin
      zellij: vesper
    catppuccin:
      atuin: catppuccin
      delta: catppuccin
      bat: catppuccin
      eza: catppuccin
      fish: catppuccin
      gitui: catppuccin
      kitty: catppuccin
      mise: catppuccin
      opencode: catppuccin
      yazi: catppuccin
      zellij: catppuccin
