---
sourceDir: {{ .chezmoi.homeDir }}/config/dotfiles

data:
  fullName: Evan Sosenko
  emailAddress: razorx@evansosenko.com
  gpgKeyId: 757C899CECF66FE0
  theme: dark
  themes:
    dark:
      fish: ayu Mirage
      kitty: ayu
      eza: catppuccin
