# Load environment.d variables if stale.
if [[ $USER_ENV_HASH != '{{ template "user_env_hash" . }}' ]] \
  && [[ -d "$HOME/.config/environment.d" ]]; then
  for f in $HOME/.config/environment.d/*.conf; do
    set -a
    if [[ -f "$f" ]]; then
      source "$f"
    fi
    set +a
  done
fi

# Start fish on interactive login.
# https://wiki.archlinux.org/title/Fish
if [[ $(ps --no-header --pid=$PPID --format=comm) != 'fish' \
   && -z ${BASH_EXECUTION_STRING} \
   && ${SHLVL} == 1 \
   && $- == *i* \
   && -x $(command -v fish) ]]; then
  shopt -q login_shell && LOGIN_OPTION='--login' || LOGIN_OPTION=''
  exec fish $LOGIN_OPTION
fi

# Set Bash history variables.
if [[ -n "$XDG_CONFIG_HOME" ]]; then
  export HISTFILE="$XDG_CACHE_HOME/bash/history"
  cache_dir=$(dirname "$HISTFILE")
  mkdir -p $cache_dir
  touch "$HISTFILE"
fi
export HISTDUP=erase
export HISTSIZE=10000
export SAVEHIST=$HISTSIZE

# Configure pinentry to use the correct TTY.
# This must be done separately for each shell.
# https://wiki.archlinux.org/title/GnuPG#Configure_pinentry_to_use_the_correct_TTY
export GPG_TTY=$(tty)
gpg-connect-agent updatestartuptty /bye >/dev/null
