[core]
	pager = delta --paging=always
[user]
	name = {{ .fullName | quote }}
	email = {{ .emailAddress | quote }}
	signingkey = {{ .gpgKeyId | quote }}
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[pull]
	rebase = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
