{{- $gpgOut := output "gpg" "--list-secret-keys" "--keyid-format" "short" "--with-colons" -}}
{{- $keyId := index ($gpgOut | regexFind "(?m)^sec:.*" | split ":") "_4" -}}
{{- $uid := index ($gpgOut | regexFind "(?m)^uid:.*" | split ":") "_9" -}}
{{- $name := $uid | regexFind "^[^<]+" | trim -}}
{{- $email := $uid | regexFind "<[^>]+>" | trimAll "<>" -}}

{{ if $keyId -}}
[user]
	name = {{ $name | quote }}
	email = {{ $email | quote }}
	signingkey = {{ $keyId | quote }}
[commit]
	gpgsign = true
{{ else -}}
# User config requires a private GPG key.
{{ end -}}
