#!/usr/bin/env fish

# {{ $lockfile := joinPath .chezmoi.sourceDir "dot_config" "exact_nvim" ".lazy-lock.json" }}
#
# {{ $hash := include $lockfile | sha256sum -}}
#
# {{ $dir := joinPath .chezmoi.homeDir ".config" "nvim" "doc" -}}
# {{- range (glob (printf "%s/*.txt" $dir)) -}}
#   {{- $hash = printf "%s%s" $hash (include . | sha256sum) | sha256sum -}}
# {{- end -}}
#
# hash: {{ sha256sum $hash }}

if type --query nvim
    # UPSTREAM: Lazy.nvim will not support deterministic install.
    # https://github.com/folke/lazy.nvim/pull/2127
    # https://github.com/folke/lazy.nvim/issues/1279
    set --function tmp (mktemp --suffix '.json' 'lazy-lock.XXXXXX')
    cp '{{ $lockfile }}' $tmp
    nvim --headless '+Lazy! sync' +qall
    mv $tmp '{{ $lockfile }}'

    nvim --headless '+Lazy! restore' +qall
    nvim --headless '+helptags {{ $dir }}' +qall
else
    echo 'Cannot generate Neovim helptags or install plugins: nvim not found.'
    return 1
end
