#!/usr/bin/env fish

# fisher_plugins hash: {{ include (joinPath .chezmoi.sourceDir "dot_config" "fish" "fish_plugins") | sha256sum }}
fisher update

tide configure \
  --auto \
  --style=Lean \
  --prompt_colors='16 colors' \
  --show_time=No \
  --lean_prompt_height='Two lines' \
  --prompt_connection=Disconnected \
  --prompt_spacing=Sparse \
  --icons='Many icons' \
  --transient=No
