#!/usr/bin/env fish

# zellij version: {{ output "zellij" "--version" }}

set completions_path "$HOME/.config/fish/completions"

if type --query zellij
  mkdir -p $completions_path
  zellij setup --generate-completion fish > "$completions_path/zellij.fish"
else
    echo 'Skipping Zellij completion generation: zellij not installed.'
end
