#!/usr/bin/env fish

{{ $hash := "" }}
{{- range untilStep 1 9 1 -}}
  {{- $section := . -}}
  {{- $dir := printf "%s/.local/share/man/man%s" $.chezmoi.homeDir $section -}}
  {{- range (glob (printf "%s/*.%s" $dir $section)) -}}
    {{- $hash = printf "%s%s" $hash (include . | sha256sum) | sha256sum -}}
  {{- end -}}
{{- end -}}

# hash: {{ sha256sum $hash }}
# MANPATH: {{ env "MANPATH" }}

if type --query mandb
    mandb --user-db
else
    echo 'Cannot update man database: mandb not installed.'
    return 1
end
