#!/usr/bin/env fish

# hash: {{ include (joinPath .chezmoi.sourceDir "dot_config" "exact_yazi" "package.toml") | sha256sum }}

if type --query ya; and type --query yazi
    ya pkg install
else
    echo 'Cannot install Yazi packages: yazi or ya not installed.'
    return 1
end
