#!/usr/bin/env fish

{{ $hash := include (joinPath .chezmoi.sourceDir "dot_config" "fish" "fish_plugins.tmpl") | sha256sum -}}

{{- range (list "completions" "conf.d" "functions" "themes") -}}
  {{- $dir := printf "%s/dot_config/fish/%s" $.chezmoi.sourceDir . -}}
  {{- range (glob (printf "%s/*.fish" $dir)) -}}
    {{- $hash = printf "%s%s" $hash (include . | sha256sum) | sha256sum -}}
  {{- end -}}
{{- end -}}

# hash: {{ sha256sum $hash }}

if type --query fish_config
    fish_config theme choose '{{ template "theme" (merge (dict "app" "fish") .) }}'
else
    echo 'Cannot update fish theme: fish_config not found.'
    return 1
end

if type --query fisher
    fisher update
else
    echo 'Cannot update fish plugins: fisher is not installed.'
    return 1
end

if type --query tide
    configure_tide_prompt
else
    echo 'Cannot configure Tide: the tide fish plugin is not installed.'
    return 1
end
