#!/usr/bin/env fish

{{ $hash := include (joinPath .chezmoi.sourceDir ".." "README.md") | sha256sum -}}
{{- range untilStep 1 9 1 -}}
  {{- $section := . -}}
  {{- $dir := joinPath $.chezmoi.homeDir ".local" "share" "man" (printf "man%d" $section) -}}
  {{- range (glob (printf "%s/*.%d" $dir $section)) -}}
    {{- $hash = printf "%s%s" $hash (include . | sha256sum) | sha256sum -}}
  {{- end -}}
{{- end -}}

# hash: {{ sha256sum $hash }}
# MANPATH: {{ env "MANPATH" }}

if type --query mandb
    mandb --user-db
else
    echo 'Cannot update man database: mandb not installed.'
    return 1
end
