#!/usr/bin/env bash

# zellij version: {{ output "zellij" "--version" }}

set -u

completions_path="$HOME/.config/fish/completions"
mkdir -p "$completions_path"
zellij setup --generate-completion fish > "$completions_path/zellij.fish"
