#!/usr/bin/env fish

if type -q fish_config
    fish_config theme choose "{{ template "theme/fish" . }}"
end

if type -q kitten
    kitten themes --reload-in=all "{{ template "theme/kitty" . }}"
    set kitten_config_path "$HOME/.config/kitty"
    mkdir -p $kitten_config_path
    kitten themes --dump "{{ template "theme/kitty" . }}" \
        > $kitten_config_path/current-theme.conf
end
