#!/usr/bin/env fish

# fisher_plugins hash: {{ include (joinPath .chezmoi.sourceDir "dot_config" "fish" "fish_plugins.tmpl") | sha256sum }}

{{- $hash := "" -}}
{{- range (list "functions" "conf.d" "completions") -}}
  {{- $dir := printf "%s/../fish/%s" $.chezmoi.sourceDir . -}}
  {{- range (glob (printf "%s/*.fish" $dir)) -}}
    {{- $hash = printf "%s%s" $hash (include . | sha256sum) -}}
  {{- end -}}
{{- end -}}
# fish plugin hash: {{ sha256sum $hash }}

fisher update

tide configure \
  --auto \
  --style=Lean \
  --prompt_colors='16 colors' \
  --show_time=No \
  --lean_prompt_height='Two lines' \
  --prompt_connection=Disconnected \
  --prompt_spacing=Sparse \
  --icons='Many icons' \
  --transient=No
