#!/usr/bin/env fish

# hash: {{ include (joinPath .chezmoi.homeDir ".config" "yazi" "package.toml") | sha256sum }}

set --local config_path "$XDG_CONFIG_HOME/yazi"
set --local state_path "$XDG_STATE_HOME/yazi"

if type --query ya; and type --query yazi
    rm --recursive --force \
        "$state_path/yazi/plugins" \
        "$config_path/plugins" \
        "$config_path/flavors" \

    ya pkg install
else
    echo 'Cannot install Yazi packages: yazi or ya not installed.'
    return 1
end
