{
  "$schema": "https://opencode.ai/config.json",
  "theme": "{{ template "theme" (merge (dict "app" "opencode") .) }}",
  "permission": {
    "external_directory": {
      "*/opencode/tool-output/*": "allow"
    }
  },
  "mcp": {
    "github": {
      "type": "remote",
      "url": "https://api.githubcopilot.com/mcp/",
      "oauth": {
        "clientId": "Iv23liMsUdPFCRrDC3os",
        "clientSecret": "{env:GITHUB_MCP_CLIENT_SECRET}"
      },
      "enabled": true
    },
    "linear": {
      "type": "remote",
      "url": "https://mcp.linear.app/mcp",
      "enabled": true
    }
  },
  "keybinds": {
    // UPSTREAM: Mapping ctrl+space to leader is not working.
    // https://github.com/anomalyco/opencode/issues/3657#issuecomment-3734001607
    "leader": "ctrl+s,ctrl+space",

    // UPSTREAM: Anything bound to <leader>q will not trigger.
    // https://github.com/anomalyco/opencode/issues/3851
    "app_exit": "<leader>q",

    "editor_open": "<leader>e",
    "theme_list": "<leader>t",
    "sidebar_toggle": "<leader>b",
    "scrollbar_toggle": "none",
    "username_toggle": "none",
    "status_view": "<leader>s",
    "tool_details": "none",
    "session_export": "<leader>x",
    "session_new": "<leader>n",
    "session_list": "<leader>l",
    "session_timeline": "<leader>r",
    "session_fork": "none",
    "session_rename": "none",
    "session_share": "none",
    "session_unshare": "none",
    "session_interrupt": "escape",
    "session_compact": "<leader>c",
    "session_child_cycle": "ctrl+n",
    "session_child_cycle_reverse": "ctrl+shift+n",
    "session_parent": "ctrl+p",
    "messages_page_up": "ctrl+shift+u",
    "messages_page_down": "ctrl+shift+d",
    "messages_half_page_up": "ctrl+u",
    "messages_half_page_down": "ctrl+d",
    "messages_first": "ctrl+shift+\\",
    "messages_last": "ctrl+\\",
    "messages_next": "ctrl+],ctrl+'",
    "messages_previous": "ctrl+[,ctrl+`",
    "messages_copy": "ctrl+y",
    "messages_undo": "<leader>u",
    "messages_redo": "none",
    "messages_last_user": "none",
    "messages_toggle_conceal": "<leader>h",
    "model_list": "<leader>m",
    "model_cycle_recent": "f2",
    "model_cycle_recent_reverse": "shift+f2",
    "model_cycle_favorite": "none",
    "model_cycle_favorite_reverse": "none",
    "variant_cycle": "ctrl+t",
    "command_list": "ctrl+return",
    "agent_list": "<leader>a",
    "agent_cycle": "tab",
    "agent_cycle_reverse": "shift+tab",
    "input_clear": "ctrl+c",
    "input_paste": "ctrl+v",
    "input_submit": "return",
    "input_newline": "shift+return",
    "input_move_left": "backspace",
    "input_move_right": "ctrl+l",
    "input_move_up": "ctrl+k",
    "input_move_down": "ctrl+j",
    "input_select_left": "none",
    "input_select_right": "none",
    "input_select_up": "none",
    "input_select_down": "none",
    "input_line_home": "ctrl+a",
    "input_line_end": "ctrl+e",
    "input_select_line_home": "none",
    "input_select_line_end": "none",
    "input_visual_line_home": "none",
    "input_visual_line_end": "none",
    "input_select_visual_line_home": "none",
    "input_select_visual_line_end": "none",
    "input_buffer_home": "ctrl+shift+a",
    "input_buffer_end": "ctrl+shift+e",
    "input_select_buffer_home": "none",
    "input_select_buffer_end": "none",
    "input_delete_line": "ctrl+shift+backspace,ctrl+shift+delete",
    "input_delete_to_line_end": "ctrl+delete",
    "input_delete_to_line_start": "ctrl+backspace",
    "input_backspace": "ctrl+h",
    "input_delete": "delete",
    "input_undo": "ctrl+z",
    "input_redo": "ctrl+shift+z",
    "input_word_forward": "ctrl+f",
    "input_word_backward": "ctrl+r",
    "input_select_word_forward": "none",
    "input_select_word_backward": "none",
    "input_delete_word_forward": "ctrl+delete",
    "input_delete_word_backward": "ctrl+w",
    "history_previous": "up,ctrl+shift+[",
    "history_next": "down,ctrl+shift+]",
    "terminal_suspend": "<leader>z",
    "terminal_title_toggle": "none",
    "tips_toggle": "<leader>h"
  }
}

