#!/usr/bin/env -S fish --no-config

{{ $pkg := include "dot_config/pi/exact_npm/package.json" | fromJson }}
{{ $deps := keys $pkg.dependencies | sortAlpha }}
set packages '[{{ range $i, $name := $deps }}{{ if $i }},{{ end }}{{ printf "npm:%s" $name | toJson }}{{ end }}]'

set input (mktemp)

function cleanup --on-event fish_exit
    rm --force "$input"
end

cat >$input

if not test -s $input
    printf '{}\n' >$input
end

jq --argjson packages $packages '.packages = $packages' $input
