{{ if env "GITHUB_PACKAGES_TOKEN" -}}
GITHUB_PACKAGES_TOKEN={{ env "GITHUB_PACKAGES_TOKEN" | quote }}
{{ end -}}

{{ if env "GITHUB_MCP_CLIENT_SECRET" -}}
GITHUB_MCP_CLIENT_SECRET={{ env "GITHUB_MCP_CLIENT_SECRET" | quote }}
{{ end -}}

