# Integrate kitty windows with Neovim smart-splits.
# https://github.com/mrjones2014/smart-splits.nvim#kitty

# Navigate windows and splits.
map ctrl+j neighboring_window down
map ctrl+k neighboring_window up
map ctrl+h neighboring_window left
map ctrl+l neighboring_window right
map --when-focus-on var:IS_NVIM ctrl+j
map --when-focus-on var:IS_NVIM ctrl+k
map --when-focus-on var:IS_NVIM ctrl+h
map --when-focus-on var:IS_NVIM ctrl+l

# Resize windows and splits.
map alt+j kitten relative_resize.py down  3
map alt+k kitten relative_resize.py up    3
map alt+h kitten relative_resize.py left  3
map alt+l kitten relative_resize.py right 3
map --when-focus-on var:IS_NVIM alt+j
map --when-focus-on var:IS_NVIM alt+k
map --when-focus-on var:IS_NVIM alt+h
map --when-focus-on var:IS_NVIM alt+l

{{- $normalLeader := "Ctrl+s" -}}
{{- $normalBg := "#1a1a2e" -}}
{{- $normalTitle := " NORMAL " -}}
{{- $enterNormal := printf "push_keyboard_mode normal : set_colors background=%s : set_tab_title \"%s\"" $normalBg $normalTitle -}}
{{ $exitNormal := "set_colors --reset : set_tab_title \"\" : pop_keyboard_mode" }}

map --new-mode normal {{ $normalLeader }}
map {{ $normalLeader }} combine : {{ $enterNormal }}
map --mode normal {{ $normalLeader }} combine : {{ $exitNormal }}
map --mode normal esc combine : {{ $exitNormal }}
map --mode normal tab combine : set_colors --reset : set_tab_title "" : new_tab : pop_keyboard_mode
