# Limit scrollback to a finite value.
scrollback_lines 12000

# Set terminal bell.
enable_audio_bell no
visual_bell_color #ffffff
visual_bell_duration 1 ease-in linear

# Style cursor.
cursor_trail 10
cursor_blink_interval 0

# Set tab bar style.
tab_bar_edge bottom
tab_bar_style powerline
tab_powerline_style round

# Remove spaces at the end of lines
# for non-rectangle selections when copying to clipboard.
strip_trailing_spaces smart

# Set launch shell.
shell /usr/bin/fish

# Disable the Input Method Extension on Wayland.
wayland_enable_ime no

# Set the scrollback pager to use less -r to render Nerd Font symbols.
# The -r option...cannot be set in a LESS environment variable.
scrollback_pager bat --pager='less -r'

# Set default layout and the enabled layouts.
enabled_layouts splits,tall,fat,horizontal,vertical,stack

# Enable remote control over unix socket.
# Required for smart-splits integration.
# https://github.com/mrjones2014/smart-splits.nvim#kitty
allow_remote_control socket-only
listen_on unix:@mykitty

# Setup kitty-scrollback.nvim.
# https://github.com/mikesmithgh/kitty-scrollback.nvim#%EF%B8%8F-setup
action_alias kitty_scrollback_nvim kitten python/kitty_scrollback_nvim.py

# Setup kitty smart-splits.nim.
# https://github.com/mrjones2014/smart-splits.nvim#kitty
action_alias smart_splits_relative_resize kitten relative_resize.py

# Define keyboard and mouse actions.
clear_all_shortcuts yes
clear_all_mouse_actions yes
kitty_mod alt
include mouse.conf
include keymap.conf
include oneshot.conf

# BEGIN_KITTY_THEME
# {{ template "theme/kitty" . }}
include current-theme.conf
# END_KITTY_THEME

# BEGIN_KITTY_FONTS
font_family      family="{{ .fonts.kitty }}"
bold_font        auto
italic_font      auto
bold_italic_font auto
# END_KITTY_FONTS
