# Enable remote control over unix socket.
# Required for smart-splits integration.
# https://github.com/mrjones2014/smart-splits.nvim#kitty
allow_remote_control socket-only
listen_on unix:@mykitty

# Setup kitty-scrollback.nvim.
# https://github.com/mikesmithgh/kitty-scrollback.nvim#%EF%B8%8F-setup
action_alias kitty_scrollback_nvim kitten python/kitty_scrollback_nvim.py

# Setup kitty smart-splits.nim.
# https://github.com/mrjones2014/smart-splits.nvim#kitty
action_alias smart_splits_relative_resize kitten relative_resize.py

# Set personal preferences.
include preferences.conf

# Define keyboard and mouse actions.
clear_all_shortcuts yes
clear_all_mouse_actions yes
kitty_mod alt
include mouse.conf
include keymap.conf
include oneshot.conf

# BEGIN_KITTY_THEME
# {{ template "theme" (merge (dict "app" "kitty") .) }}
include current-theme.conf
# END_KITTY_THEME

# BEGIN_KITTY_FONTS
font_family      family="{{ .fonts.kitty }}"
bold_font        auto
italic_font      auto
bold_italic_font auto
font_size        12.0
# END_KITTY_FONTS
